<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Cursos</title>
</head>
<body>
	<table>
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Hours</th>
		</thead>
		<tbody>
			<tr th:each="curso: ${cursos}">
				<th><span th:text="${curso.name}"></span></th>
				<th><span th:text="${curso.description}"></span></th>
				<th><span th:text="${curso.price}"></span></th>
				<th><span th:text="${curso.hours}"></span></th>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{/cursos/addCurso}" th:object="${curso}" method="post">
		<p>NAME: <input type="text" th:field="*{name}"/></p>
		<p>DESCRIPTION: <input type="text" th:field="*{description}"/></p>
		<p>PRICE: <input type="number" th:field="*{price}"/></p>
		<p>HOURS: <input type="number" th:field="*{hours}"/></p>
		<p><input type="submit" value="Submit"/></p>
	</form>
</body>
</html>